<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.securedatasharingfordtn">
    <!-- Declare features -->
    <uses-feature android:name="android.hardware.camera.any" /> <!-- Declare permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <queries>

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.ACTION_PICK" />

            <data android:scheme="http" />
        </intent>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

    <application
        android:name="com.example.securedatasharingfordtn.GlobalApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Secure Data Sharing"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecureDataSharingForDTN"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".mainbody.MembersActivity"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".connection.SelectedImageActivity" />
        <activity android:name=".connection.ShudipActivity" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.securedatasharingfordtn.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".connection.ImageActivity" />

        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyBZoMLLq2JLUSvqgoLz6P8BI887i50zgUc" />

        <activity android:name=".connection.ConnectionActivity" />

        <service
            android:name=".connection.ConnectionService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>